.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.datePickerWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.datePickerWrapper label {
    font-weight: bold;
}

.datePickerInput {
    padding: 5px;
    border-color: #000000;
    border-radius: 2px;
    border-style: solid;
    font-family: inherit;
}
